<%= render :partial => 'shared/admin_edit_actions', :locals => {:record => @excerpt} %>

<h1><%= calculate_page_heading %></h1>

<%= error_messages_for :excerpt %>

<%= form_for(:excerpt, :url => admin_excerpt_path(@excerpt), :html => { :multipart => true, :method => :put }) do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
	<%= submit_or_cancel(admin_excerpt_path(@excerpt)) %>
<% end -%>