<%= render :partial => 'shared/admin_edit_actions', :locals => {:record => @erratum} %>

<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for @erratum, :url => admin_erratum_path(@erratum) do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/edit_buttons', :locals => {:f => f} %>
<% end -%>
