<%= render :partial => 'shared/admin_edit_actions', :locals => {:record => @handout} %>

<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for @handout, :url => admin_handout_path, :html => {:multipart => true} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/edit_buttons', :locals => {:f => f} %>
<% end -%>
