<% content_for :head do %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
<% end %>
<%= render :partial => 'shared/admin_index_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for :search, :url => request.path, :html => { :method => :get } do |f| %>
  <%= f.inputs do -%>
    <%= f.input :name_contains, :label => "Name", :required => false, :wrapper_html => { :class => "half first" } %>
    <%= f.input :description_contains, :label => "Description", :required => false, :wrapper_html => { :class => "half" } %>
    <%= f.input :teaching_guide_id_equals, :label => "Teaching guide", :as => :select, :collection => TeachingGuide.to_dropdown, :required => false, :wrapper_html => { :class => "half first" } %>
    <%= f.input :document_contains, :label => "Document", :required => false, :wrapper_html => { :class => "half" } %>
  <% end -%>
  <%= render :partial => 'admin/shared/search_buttons', :locals => {:f => f} %>
<% end %>

<% if @handouts.any? -%>
  <table cellspacing="0" class="list">
    <tr>
      <th class="first"><%= sort_link(@search, :name) %></th>
      <th><%= sort_link(@search, :id) %></th>
      <th>Document</th>
      <th><%= sort_link(@search, :created_at, 'Created') %></th>
      <th><%= sort_link(@search, :updated_at, 'Updated') %></th>
      <th class="icon last">Delete</th>
    </tr>
    <% @handouts.each do |handout| %>
      <%= content_tag_for(:tr, handout, :class => cycle('odd', 'even') ) do -%>
        <td><%= link_to(handout.name, edit_admin_handout_path(handout), :class => 'highlight') %></td>
        <td><%= link_to(handout.id, handout_path(handout), :class => 'subdue') %></td>
        <td><%= handout.document.try(:file).try(:identifier) %></td>
        <td><%= handout.created_at.to_s(:custom) %></td>
        <td><%= handout.updated_at.to_s(:custom) %></td>
        <td class="icon"><%= link_to(image_tag('buttons/admin/trash.gif', :alt => 'Delete'), admin_handout_path(handout), :method => :delete, :confirm => 'Are you sure you wish to delete this record?', :class => 'admin') %></td>
      <% end %>
    <% end -%>
  </table>
  <%= render :partial => 'admin/shared/paging', :locals => {:records => @handouts} %>
<% else -%>
  <p>No records found.</p>
<% end -%>
