<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="<%= asset_path 'html5.js' %>"></script>
  <![endif]-->

  <!-- for videojs -->
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>

  <!-- preloaded json -->
  <script type="application/json" id="preloaded_json">
    <%= raw preloaded_json %>
  </script>
  <!-- end preloaded json -->
</head>
<body>

<%= yield %>

</body>
</html>
