<%= error_messages_for :address %>
<%= error_messages_for :postal_code %>

<fieldset>
  <div class="group">
    <%= f.fields_for :address do |address| %>
      <div class="half first">
        <%= address.label :name, 'Name *' %>
        <%= address.text_field :name %>
      </div>
      <div class="half">
        <%= address.label :attention %>
        <%= address.text_field :attention %>
      </div>
      <div class="clearboth"></div>
      <div class="half first">
        <%= address.label :street, 'Street *' %>
        <%= address.text_field :street %>
      </div>
      <div class="half">
        <%= address.label :suite %>
        <%= address.text_field :suite %>
      </div>
      <div class="clearboth"></div>
      <div class="half first">
        <%= address.label :city, 'City *' %>
        <%= address.text_field :city %>
      </div>
      <div class="half">
        <%= address.label :country_id, 'Country *' %>
        <%= address.select :country_id, Country.to_dropdown %>
      </div>
      <div class="clearboth"></div>
      <%= fields_for :postal_code do |postal_code| %>
        <div class="half first">
          <%= postal_code.label :name, 'Postal Code' %>
          <%= postal_code.text_field :name %>
        </div>
        <div class="half">
          <%= postal_code.label :zone_id, 'State / Province *' %>
          <%= postal_code.select :zone_id, [""] + Zone.all.collect {|x| [x.name, x.id]} %>
        </div>
        <div class="clearboth"></div>
      <% end -%>
    <% end -%>
  </div>
</fieldset>
<% if %w(edit).include?(controller.action_name) -%>
  <fieldset>
    <div class="group">
      <div class="unsized">
        <%= f.label :is_processed, 'Processed?' %>
        <%= f.select :is_processed, [["Yes",true],["No",false]] %>
      </div>
      <div class="clearboth"></div>
    </div>
  </fieldset>
<% end -%>
