<!DOCTYPE html>
<html>
<head>
  <title>Streaming .....................</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'swfobject' %>
  <%= jw_player_headers %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
