<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= form_for @bundle, :url => admin_bundles_url do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_or_cancel %>
<% end %>
