<%= div_for collection, :class => 'module forcenobottommargin clearfix bottomseparator' do -%>
  <% if defined?(show_admin) && show_admin -%>
    <%= render :partial => 'shared/admin_list_actions', :locals => {:record => collection, :controller_path => "admin/#{controller.controller_name}"} %>
  <% end -%>
  <%= link_to(image_tag(collection.image, :class => "photo"), collection_path(collection)) %>
  <h3><%= link_to(collection.name, collection_path(collection)) %></h3>
  <%= content_tag(:p, "Released on #{collection.released_on.to_s(:long)}", :class => 'meta') if collection.released_on %>
  <%= content_tag(:p, truncate_to_nearest_word(collection.description)) if collection.description %>
<% end -%>
