<ul class="shortcuts">
  <li>
    <%= link_to(cart_path) do %>
      Cart
      <%= image_tag('icons/cart.gif', :style => 'vertical-align:-3px;') %>
    <% end -%>
  </li>
  <li>
    <div>
      <%= link_to(account_path, :class => 'toggler') do %>
        Your Account
        <%= image_tag('asterix/down.gif', :style => 'padding-left:2px;') %>
      <% end -%>
    </div>
    <ul style="display:none;">
      <% if logged_in? -%>
        <%= content_tag(:li, link_to("Logout", logout_path)) %>
      <% else -%>
        <%= content_tag(:li, link_to("Login", login_path)) %>
      <% end -%>
      <%= content_tag(:li, link_to('Overview', account_path)) %>
      <%= content_tag(:li, link_to('Profile', change_profile_path)) %>
      <%= content_tag(:li, link_to('Wishlist', wishlists_path)) %>
      <% if admin? -%>
        <%= content_tag(:li, link_to("Admin", admin_path)) %>
      <% end -%>
    </ul>
  </li>
  <%= content_tag(:li, link_to('Help', public_page_path(:help)), :class => 'last') %>
</ul>
