<h1>Sign up</h1>

<p>If you already have an account with us, please use our <%= link_to 'sign in page', login_path %>.</p>

<%= render :partial => 'shared/required' %>

<%= error_messages_for :user %>

<%= form_for :user do |f| -%> 
  <fieldset>
    <div class="group">
      <div class="half first">
        <%= f.label :name, 'Name *' %>
        <%= f.text_field :name %>
      </div>
      <div class="half">
        <%= f.label :email, 'Email *' %>
        <%= f.text_field :email %>
      </div>
      <div class="clearboth"></div>
      <div class="half first">
        <%= f.label :category, 'Customer Type *' %>
        <%= f.select :category, Customer::CATEGORIES %>
      </div>
      <div class="half">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="clearboth"></div>
      <div class="half first">
        <%= f.label :password, 'Password *' %>
        <%= f.password_field :password %>
      </div>
      <div class="half">
        <%= f.label :password_confirmation, 'Confirm Password *' %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="clearboth"></div>
    </div>
  </fieldset>
  <%= page_buttons(submit_tag('Sign up')) %>
<% end -%>
