<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= form_for @page, :url => admin_pages_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_or_cancel(admin_pages_path) %>
<% end %>

<%= render :partial => 'shared/textile_allowed' %>
