<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= form_for @related_product_assignment, :url => admin_related_product_assignments_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_or_cancel %>
<% end -%>
