<% content_for :head do %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
<% end %>
<%= render :partial => 'shared/admin_index_actions' %>

<h1><%= calculate_page_heading %></h1>

<ul class="page-actions">
  <%= content_tag(:li, link_to('Export', export_admin_users_path)) %>
</ul>

<%= semantic_form_for :search, :url => admin_users_path, :html => { :method => :get } do |f| %>
  <%= f.inputs do -%>
    <%= f.input :name_contains, :label => "Name", :required => false, :wrapper_html => { :class => "half first" } %>
    <%= f.input :email_contains, :label => "Email", :required => false, :wrapper_html => { :class => "half" } %>
    <%= f.input :type_equals, :label => "User Type", :as => :select, :collection => ['HeadSalesRep', 'SalesRep', 'Customer', 'Admin'], :required => false, :wrapper_html => { :class => "half first" } %>
    <%= f.input :category_equals, :label => "Category", :as => :select, :collection => Customer::CATEGORIES, :required => false, :wrapper_html => { :class => "half" } %>
  <% end -%>
  <%= render :partial => 'admin/shared/search_buttons', :locals => {:f => f} %>
<% end %>

<%= render :partial => 'admin/shared/search_sort', :locals => {:options => [{:by => :name}, {:by => :type}, {:by => :category}, {:by => :updated_at, :as => 'Updated'}]} %>

<% if @users.any? -%>
  <table>
    <tr>
      <th class="first"><%= sort_link(@search, :name) %></th>
      <th><%= sort_link(@search, :email) %></th>
      <th><%= sort_link(@search, :type) %></th>
      <th><%= sort_link(@search, :category) %></th>
      <th class="icon last">Delete</th>
    </tr>
  <%= render :partial => 'user', :collection => @users %>
  </table>
  <%= render :partial => 'admin/shared/paging', :locals => {:records => @users} %>
<% else -%>
  <p>No records found.</p>
<% end -%>
