<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for @faq, :url => admin_faqs_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/new_buttons', :locals => {:f => f} %>
<% end -%>

<%= render :partial => 'shared/textile_allowed', :locals => {:fields => 'answer'} %>
