<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading("Subjects") %></h1>

<%= semantic_form_for @category, :url => admin_categories_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/new_buttons', :locals => {:f => f} %>
<% end -%>
