<%= render :partial => 'shared/admin_edit_actions', :locals => {:record => @quote} %>

<h1><%= calculate_page_heading %></h1>

<%= form_for(@quote) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_or_cancel %>
<% end %>
