<div class="module">
  <h2>New</h2>
  <ul>
    <li><%= link_to "New Bundle", new_admin_bundle_path %></li>
    <li><%= link_to "New Editorial Review", new_admin_editorial_review_path %></li>
    <li><%= link_to "New Erratum", new_admin_erratum_path %></li>
    <li><%= link_to "New FAQ", new_admin_faq_path %></li>
    <li><%= link_to "New Headline", new_admin_headline_path %></li>
    <li><%= link_to "New Page", new_admin_page_path %></li>
    <li><%= link_to "New Subject", new_admin_category_path %></li>
    <li><%= link_to "New Testimonial", new_admin_testimonial_path %></li>
  </ul>
</div>

<div class="module">
  <h2>Export</h2>
  <ul>
    <li><%= link_to 'Export Catalog Requests', export_admin_catalog_requests_path %></li>
    <li><%= link_to "Export Products", export_admin_products_path %></li>
    <li><%= link_to "Export Users", export_admin_users_path %></li>
  </ul>
</div>

<div class="module">
  <h2>Other</h2>
  <ul>
    <li><%= link_to "Catalog Requests", admin_catalog_requests_path %></li>
    <li><%= link_to "Links", admin_links_path %></li>
    <li><%= link_to "Import Products", import_admin_products_path %></li>
  </ul>
</div>
