<%= render :partial => 'shared/admin_new_actions' %>

<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for @recipient.becomes(Recipient), :url => admin_recipients_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/new_buttons', :locals => {:f => f} %>
<% end -%>