<%= render :partial => 'shared/admin_edit_actions', :locals => {:record => @headline} %>

<h1><%= calculate_page_heading %></h1>

<%= form_for @headline, :url => admin_headline_path(@headline) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_or_cancel(admin_headline_path(@headline)) %>
<% end %>

<%= render :partial => 'shared/textile_allowed' %>
